<div class="root">
  <div class="thought">

  <h1>Edit your thought</h1>

  <%= render 'form', thought: @thought %>
  <span>
    <%= link_to 'Show', @thought %> |
    <%= link_to 'Back', thoughts_path %>
  </span>
</div>
</div>