<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @thought.description %>
</p>

<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Return to Homepage', root_path %>
